
<form action="/Home/AddActor" method="post" autocomplete="off">
	<label>Oyuncunun Adını ve Soyadını Giriniz</label>
	<input type="text" class="form-control" placeholder="Enter FullName" name="FullName">
	<label>Oyuncunun Resim URL'sini giriniz.</label>
	<input type="text" class="form-control" placeholder="Enter ImageURL" name="ImageUrl" />
	<label>Oyuncunun Biograpy'sini giriniz.</label>
	<input type="text" class="form-control" placeholder="Enter Biograpy" name="Biography" />
	<label>Oyuncunun Yaşını Giriniz</label>
	<input type="number" class="form-control" placeholder="Enter Age" name="Age" />
	<button type="submit" class="btn btn-primary mt-3 w-100">Oyuncu Ekle</button>
</form>