

<form action="/Home/AddFilm" method="post" autocomplete="off">
	<label>Filmin Resim URL'sini ekleyiniz.</label>
	<input type="text" class="form-control" placeholder="Enter ImageUrl" name="ImageUrl">
	<label class="mt-3">Filmin Adınızı Giriniz.</label>
	<input type="text" class="form-control " placeholder="Enter Title" name="Title">
	<label class="mt-3">Filmin Açıklamasını Giriniz.</label>
	<input type="text" class="form-control " placeholder="Enter Description" name="Description">
	<button type="submit" class="btn btn-primary mt-3 w-100">Film Ekle</button>
</form>