@model Movie
@{
	List<Actor> actors = ViewBag.Actors;
}

<form action="/Home/AddMovieActor" method="post" autocomplete="off">
    <input type="hidden" name="MovieId" value="@Model.Id" />
    <select class="form-select mt-3" name="ActorId">
        @foreach (var actor in actors)
        {
            <option value="@actor.Id">@actor.FullName</option>
        }
    </select>

    <button type="submit" class="btn btn-primary mt-3 w-100">Oyuncu Ekle</button>
</form>
