@model List<Movie>
@{
    ViewData["Title"] = "Film Page";
}

<div class="container mt-4">
    <div class="container-fluid p-5 bg-info text-white text-center">
        <h1>Filmlerimiz</h1>
        <p>Piyasanın bir numarası</p>
    </div>
    <div class="row">
        @foreach (var film in Model)
        {
            <div class="col-md-4 mt-5">
                <div class="card mb-3">
                    <img src="@film.ImageUrl" class="card-img-top" alt="Film Afişi">
                    <div class="card-body">
                        <h5 class="card-title">@film.Title</h5>
                        <p class="card-text">@film.Description</p>
                        <a href="/Home/FilmDetails/@film.Id" class="btn btn-primary">Detaya Git</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>